@{
    ViewData["Title"] = "ProductFilter";
}
@using WebWindowsProject.Models
@model WebWindowsProject.Models.ProductItem
@using Humanizer

   @ViewData["Title"]
<h1>Description : @Model.Description</h1>

